<h2>My Heroes Component </h2>
<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>
<ul class="heroes">
  <!--圆括号：事件绑定，监听事件click，当click时执行表达式 onSelect(hero)
      参数就是 *ngFor 里面遍历的每一个 hero-->
  <li *ngFor="let hero of heroes" 
      [class.selected]="hero === selectedHero" 
      (click)="onSelect(hero)"> 
      <a routerLink="/detail/{{hero.id}}">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
      </a> 
        <button class="delete" title="delete hero"
        (click)="delete(hero)">x</button>
  </li>
</ul>

<!--
[class.selected]="hero === selectedHero" 
这个语法见 heroes.component.css
-->

<!--
<app-hero-detail [hero]="selectedHero"></app-hero-detail>
-->
<!--
    [hero]="selectedHero" 是 Angular 的属性绑定语法。

    这是一种单向数据绑定。
    从 HeroesComponent 的 selectedHero 属性绑定到目标元素的 hero 属性
    
    现在，当用户在列表中点击某个英雄时，selectedHero 就改变了。 
    当 selectedHero 改变时，属性绑定会修改 HeroDetailComponent 的 hero 属性，
    HeroDetailComponent 就会显示这个新的英雄。
-->